   <!-- create a blog form -->
   <form (ngSubmit)="addNewBooks()" id="add-book">
    <div class="form-group mb-2">
      <label for="blog">Title</label>
      <input type="text" class="form-control" id="blog" ngModel name="title" placeholder="" required
        #title="ngModel">
      <p class="text-info error-block"><small>Fill in the title!</small>
      </p>
    </div>
    <div class="mb-2">
      <label for="description">Author's name</label>
      <input type="text">
      <p class="text-info error-block" ><small>Author</small></p>
    </div>
    <div class="mb-2">
      <label for="description">Book pic</label>
      <input type="text">
      <p class="text-info error-block" ><small>Insert image</small></p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="">Add Book</button>

<div class="card-group">
    <div class="card">
      <img src="https://img.wattpad.com/cover/247834276-352-k434052.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.wattpad.com/story/89677983-the-boy-i-admire-from-afar">You Are My Shield </a>
        </h5>
        <p class="card-text"> ❝ Bite me. ❞ He didn't respond, but he maintained to stare daggers at me. A smirk bent its way on his thin lips as the tables turned. Making me the one to back out ...</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://img.wattpad.com/cover/89677983-352-k521449.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The Boy I Admire From Afar</h5>
        <p class="card-text">As Claire aims to leave her oppressive stepfamily behind, she befriends Zion. Will he be her ticket to freedom or a distraction in achieving her dreams? ....</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://img.wattpad.com/cover/215330378-352-k540717.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">𝐓𝐡𝐞 𝐂𝐡𝐚𝐧𝐜𝐞 𝐓𝐢𝐦𝐞 𝐀𝐧𝐝 𝐅𝐚𝐭𝐞 𝐆𝐚𝐯𝐞 𝐔𝐬 | </h5>
        <p class="card-text">James Potter never thought the people he trusted the most would ever betray him, Albus Dumbledore and The Weasleys. His once best friend Ronald Billus Weasley was a Death Eater as where the... .</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="https://img.wattpad.com/cover/221159268-352-k478008.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Shadow King</h5>
        <p class="card-text">Hailey begins her first year of college, entering a new world she has no idea she's apart of. Hidden for centuries, she comes to learn that this year will not be all about books and exams. This year, everything she know....</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://img.wattpad.com/cover/149144193-352-k168403.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Queen of the Underworld</h5>
        <p class="card-text">After the loss of her parents, Anastasia is entered into a world of gangs, mafia, drugs and violence. She has to adapt to her new living conditions that may or may not protect her from Angelo Mussolini, the leader of.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://img.wattpad.com/cover/231960107-352-k328221.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Find me in the moonlight</h5>
        <p class="card-text">Siya is the only heir of Verma enterprises craving for some love and affection in her life. And then She meets Raghav Khurana who's the richest man of Australia, who is cold as ice and looks no less than a greek god. ... .</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
  